apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cilium
  namespace: argocd
spec:
  project: default
  sources:
    - repoURL: https://github.com/shlomo-b/homeProd-K3s.git
      targetRevision: HEAD
      ref: values
    - repoURL: https://helm.cilium.io/
      chart: cilium
      targetRevision: 1.18.5
      helm:
        valueFiles:
          - $values/app-of-apps/chart-cilium/values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: cilium-network-policy
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      selfHeal: true
      prune: true