policyEnforcementMode: "default"  

hubble:
  enabled: true    
  metrics:      
    enabled:
      - "dns"
      - "drop"
      - "flow"
      - "http"
      - "https"
      - "port-distribution"
      - "policy"
      - "tls"
      - "udp"
      - "tcp"
  relay:
    enabled: true        
  ui:
    enabled: true