hubble:
  enabled: true
  metrics:
    enabled:
      - "dns"
      - "drop"
      - "flow"
      - "http"
      - "https"
      - "port-distribution"
      - "policy"
      - "tls"
      - "udp"
      - "tcp"
  listenAddress: ":4244"
  peerService:
    enabled: true
  tls:
    enabled: true
    auto:
      enabled: true
      method: helm
  relay:
    enabled: false
    tls:
      enabled: true
      auto:
        enabled: true
  ui:
    enabled: false
    service:
      type: ClusterIP

# monitor:
#   aggregation: medium

cni:
  install: false
  binPath: /var/lib/rancher/k3s/data/current/bin
  confPath: /var/lib/rancher/k3s/agent/etc/cni/net.d

bpf:
  autoMount:
    enabled: true

cgroup:
  autoMount:
    enabled: true
