kubeProxyReplacement: "false"

# להסיר לגמרי כדי לא להחזיר את הבאג
# monitor:
#   aggregation: medium

cni:
  install: false
  binPath: /var/lib/rancher/k3s/data/current/bin
  confPath: /var/lib/rancher/k3s/agent/etc/cni/net.d

bpf:
  autoMount:
    enabled: true

cgroup:
  autoMount:
    enabled: false

hubble:
  enabled: true
  relay:
    enabled: false
  ui:
    enabled: false
