policyEnforcementMode: "default"  

hubble:
  enabled: true  
  listenAddress: ":4244"
  tls:
    enabled: true
    auto:
      enabled: true  
  metrics:      
    enabled:
      - "dns"
      - "drop"
      - "flow"
      - "http"
      - "https"
      - "port-distribution"
      - "policy"
      - "tls"
      - "udp"
      - "tcp"
  relay:
    enabled: true 
    tls:
      enabled: true
      auto:
        enabled: true       
  ui:
    enabled: true