apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd
  namespace: argocd
  labels:
    argocd.argoproj.io/instance: argocd
    app.kubernetes.io/managed-by: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io # The finalizer delete the application and resources
spec:
  project: default
  source:
    repoURL: https://github.com/shlomo-b/homeProd-K3s.git # the repo
    path: app-of-apps # the path of the helm charts
    targetRevision: HEAD
    directory:
      recurse: true
  destination:
    server: https://kubernetes.default.svc  # The cluster URL Argo CD will connect to
  syncPolicy:
    automated:
      prune: true
      selfHeal: true