# ignore certificates for SSO
argocd/secret-sso.yml
argocd/secret-trusted-argo-cd.yml

# ignore secerts for chart-external-secrets
app-of-apps/chart-external-secrets/secrets.yaml

# ignore secerts for chart-cert-manager
app-of-apps/chart-cert-manager/secrets.yaml
# ignore file addresses.txt
addresses.txt

# ignore file README-Pool.md
README-Pool.md

# ignore file secret
k8s-apps/cluster-wide-resources/secret.yml

# ignore file secret chart-gha
app-of-apps/chart-gha/secret.yaml