# ignore certificates for SSO
argocd/secret-sso.yml
argocd/secret-trusted-argo-cd.yml

# ignore secerts for chart-external-secrets
app-of-apps/chart-external-secrets/secrets.yaml

# ignore secerts for chart-cert-manager
app-of-apps/chart-cert-manager/secrets.yaml
# ignore file addresses.txt
addresses.txt

# ignore file s3-access
app-of-apps/chart-loki/s3-secrets.yaml

# ignore file secret-repo-gha
app-of-apps/chart-gha/secret-repo-gha.yml

# ignore file README-Pool.md
README-Pool.md

k8s-apps/cluster-wide-resources/secret.yml