kraft:
  enabled: true

controller:
  replicaCount: 1
  persistence:
    enabled: true
    storageClass: "local-path"
    size: 8Gi
  resources:
    limits:
      memory: 1536Mi
      cpu: 750m
    requests:
      memory: 1024Mi
      cpu: 500m

listeners:
  # the connection of producers and consumers to kafka without encryption
  client:
    protocol: PLAINTEXT
  #   containerPort: 9092
  #  name: client
  # sed for management communication between the Controllers (KRaft mode only)
  controller:
    protocol: PLAINTEXT
  #   containerPort: 9093
  #  name: controller
  # the communication between brokers for replication meesages  
  interbroker:
    protocol: PLAINTEXT
  #   containerPort: 9094
  #   name: interbroker

clusterId: "3d6e8f36-f928-11ec-8ea0-acde48001122"
kraftVersion: 1

# provisioning:
#   enabled: true
#   replicationFactor: 3

overrideConfiguration:
  default.replication.factor: 1
  min.insync.replicas: 1
  num.partitions: 3
  offsets.topic.replication.factor: 1
  transaction.state.log.replication.factor: 1

image:
  registry: docker.io
  repository: bitnamilegacy/kafka
  tag: 4.0.0-debian