apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: metallb-service-load-balancer
  namespace: argocd
  labels:
    argocd.argoproj.io/instance: argocd
    app.kubernetes.io/managed-by: argocd
spec:
  project: default
  sources:
    - repoURL: https://github.com/shlomo-b/homeProd-K3s.git
      targetRevision: HEAD
      ref: values
    - repoURL: https://metallb.github.io/metallb
      chart: metallb
      targetRevision: 0.15.2
      helm:
        valueFiles:
          - $values/app-of-apps/chart-metallb/values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: service-load-balancer
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      selfHeal: true
      prune: true
