serviceAccount:
  create: true

replicas: 2
adminUser: admin
adminPassword: strongpassword  # temp password

persistence:
  type: pvc
  enabled: true
  size: 10Gi
  accessMode: ReadWriteOnce

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Loki
        type: loki
        access: proxy
        url: http://loki-read:3100  

      - name: prometheus
        type: prometheus
        access: proxy
        url: https://prometheus-k3s.spider-shlomo.com

ingress:
  enabled: true
  ingressClassName: traefik
  annotations:
    kubernetes.io/ingress.class: traefik
    kubernetes.io/preserve-host: "true"
    traefik.ingress.kubernetes.io/router.tls: "true"
  hosts:
    - grafana-k3s.spider-shlomo.com  
  tls:
    - secretName: grafana-tls
      hosts:
        - grafana-k3s.spider-shlomo.com

service:
  enabled: true
  type: ClusterIP
  targetPort: 3000

extraSecretMounts:
  - name: aws-secret-grafana
    mountPath: /etc/grafana/secrets/aws-secret-grafana
    secretName: aws-secret-grafana
    readOnly: true

# grafana.ini for SMTP
grafana.ini:
  server:
    root_url: https://grafana-k3s.spider-shlomo.com
  smtp:
    enabled: true
    host: smtp.gmail.com:587
    from_address: $__file{/etc/grafana/secrets/aws-secret-grafana/user}
    from_name: Grafana
    user: $__file{/etc/grafana/secrets/aws-secret-grafana/user}
    password: $__file{/etc/grafana/secrets/aws-secret-grafana/password}

  auth.saml:
    enabled: true
    name: AzureAD 
    auto_login: false
    allow_idp_initiated: true
    allow_sign_up: true
    idp_entity_id: https://sts.windows.net/a2724ae3-73eb-4b45-ba62-f432da279e2c/
    single_sign_on_service_url: https://login.microsoftonline.com/a2724ae3-73eb-4b45-ba62-f432da279e2c/saml2
    single_logout_service_url: https://login.microsoftonline.com/a2724ae3-73eb-4b45-ba62-f432da279e2c/saml2
    assertion_attribute_name: name
    assertion_attribute_login: http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name
    assertion_attribute_email: http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress
    assertion_attribute_groups: http://schemas.microsoft.com/ws/2008/06/identity/claims/groups


affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - node2

initChownData:
  enabled: false