apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: metrics-server
  namespace: argocd
spec:
  project: default
  sources:
    - repoURL: https://github.com/shlomo-b/homeProd-K3s.git
      targetRevision: HEAD
      ref: values
    - repoURL: https://kubernetes-sigs.github.io/
      chart: metrics-server
      targetRevision: 3.13.0
      helm:
        valueFiles:
          - $values/app-of-apps/chart-metrics-server/values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: metrics-server
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      selfHeal: true
      prune: true
