apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kyverno
  namespace: argocd
  annotations:
    argocd.argoproj.io/compare-options: ServerSideDiff=true,IncludeMutationWebhook=true
  finalizers:
    - resources-finalizer.argocd.argoproj.io  
spec:
  project: default
  sources:
    - repoURL: https://github.com/shlomo-b/homeProd-K3s.git
      targetRevision: HEAD
      ref: values
    - repoURL: https://kyverno.github.io/kyverno/
      chart: kyverno
      targetRevision:  3.4.1
      helm:
        valueFiles:
          - $values/app-of-apps/chart-kyverno/values.yaml  
  destination:
    server: https://kubernetes.default.svc
    namespace: kyverno
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    #  - Replace=true
      - ServerSideApply=true
    automated:
      selfHeal: true 
      prune: true