reloader:
   watchGlobally: true
   namespaceSelector: "kubernetes.io/metadata.name in (secretpass,monitoring)"

replicas: 1  
rbac:
  create: true
  serviceAccount:
    create: true
    name: reloader

deployment:
  replicas: 1
  revisionHistoryLimit: 0