reloader:
   watchGlobally: true
   namespaceSelector: "app in (secretpass)"

replicas: 1  
rbac:
  create: true
  serviceAccount:
    create: true
    name: reloader

deployment:
  replicas: 1
  revisionHistoryLimit: 0