reloader:
   watchGlobally: false
   namespaceSelector: "app in (reloader,backend,frontend,CronJob)"
revisionHistoryLimit: 0
replicas: 1  
rbac:
  create: true
  serviceAccount:
    create: true
    name: reloader