name: ArgoCD Upgrade

on:
  push: 
    branches: [ "main" ]
    paths:
      - 'argocd/**'
  # pull_request:
  #   paths:
  #     - 'argocd/**'

jobs:
  argo_upgrade:
    name: 'Upgrade ArgoCD'
    runs-on: self-hosted

    defaults:
      run:
        shell: bash
        
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Show GitHub Runner IP
      run: |
        curl -s https://checkip.amazonaws.com

    - name: Setup K3s Kubeconfig
      run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.KUBECONFIG_DATA }}" | base64 --decode > $HOME/.kube/config
          chmod 600 $HOME/.kube/config
          export KUBECONFIG=$HOME/.kube/config
          echo "KUBECONFIG is set for K3s"

    - name: Verify K3s Connection
      run: |
        export KUBECONFIG=$HOME/.kube/config
        kubectl cluster-info
        kubectl get nodes

    - name: Install & Upgrade ArgoCD with Helm
      if: github.ref == 'refs/heads/main' && github.event_name == 'push'  
      run: |
        #  helm repo add argo https://argoproj.github.io/argo-helm
        helm repo update
        helm upgrade prod-argocd argo/argo-cd --namespace argocd -f values.yaml --create-namespace --version 9.2.4
      working-directory: ./argocd